body {
  background-color: #FFFFFF;
  font-family: Helvetica;
  line-height: 1.7em;
}

.root {
  color: #547594;
}

.subproblem-a {
  color: #5B4181;
  float: left;
}

.subproblem-b {
  color: #8D6547;
  float: right;
}

.problem-input {
  width: 200px;
}

.subproblem {
  border: 1px solid black;
  background: rgba(100, 180, 200, 0.4);
  margin: 10px;
  padding: 20px;
  float: left;
}

.clearbar {
  clear: both;
}
