body {
  background-color: #FFFFFF;
  font-family: Helvetica;
  line-height: 1.7em;
  margin: 0;
}

header {
  color: white;
  background-color: #043D68;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  font-size: 3em;
  font-family: Verdana;
  padding: 45px 50px;
}

.problem-container {
}

.input-container {
  background-color: #FAFAFA;
  padding: 10px 50px;
  border: 1px solid #E1E1E1;
}

input[name="problem-input"] {
  font-size: 1.25em;
  background: none;
  padding: 8px 15px;
  border-left: 2px solid #656565;
}

input[name="problem-input"].status-solved {
  background-color: #F2FFE5;
}

input[name="problem-input"].status-fetching {
  background-color: #E9FFD9;
}

input[name="problem-input"].status-error {
  background-color: #FFDFD9;
}


input[name="problem-solve"] {
  display: none;
}

.problem-response {
  padding: 10px 50px;
}

.latex-test {
  background-color: white;
  padding: 1.5em;
  display: none;
}

.strategy-icon {
  width: 15px;
  height: 15px;
  background-color: #9FE1F3;
  position: relative;
  display: inline-block;
  background: url(/static/images/info-icon.png) no-repeat;
  background-size: contain;
}

.strategy-code {
  position: absolute;
  top: -30px;
  left: -40px;
  color: #EEE;
  background-color: #4B4B4B;
  border: 1px solid #585858;
  display: none;
  z-index: 20;
  padding: 15px;
  box-shadow: 1px 1px 8px rgba(0,0,0,0.8);
}

.strategy-icon:hover > .strategy-code {
  display: block;
}

.root {
  color: #547594;
}

.subproblem-a {
  color: #5B4181;
  float: left;
}

.subproblem-b {
  color: #8D6547;
  float: right;
}

.problem-input {
  width: 200px;
}

.subproblem {
  /*border-left: 2px solid #656565;*/
  border: 1px solid #A5CDDE;
  background: rgba(100, 180, 200, 0.3);
  margin: 10px;
  padding: 20px;
  float: left;
}

.clearbar {
  clear: both;
}
