body {
  background-color: #FFFFFF;
  font-family: Helvetica;
  line-height: 1.7em;
  margin: 0;
}

header {
  color: white;
  background-color: #1D415D;
  font-size: 3em;
  font-family: Verdana;
  padding: 40px 50px;
}

.problem-container {
}

.input-container {
  background-color: #FAFAFA;
  padding: 10px 50px;
}

input[name="problem-input"] {
  font-size: 2em;
  background: none;
  padding: 10px 20px;
  border: 1px solid black;
}

.problem-response {
  padding: 10px 50px;
}

.latex-test {
  background-color: white;
  padding: 1.5em;
  display: none;
}

.root {
  color: #547594;
}

.subproblem-a {
  color: #5B4181;
  float: left;
}

.subproblem-b {
  color: #8D6547;
  float: right;
}

.problem-input {
  width: 200px;
}

.subproblem {
  border: 1px solid black;
  background: rgba(100, 180, 200, 0.4);
  margin: 10px;
  padding: 20px;
  float: left;
}

.clearbar {
  clear: both;
}
