body {
  background-color: #FFFFFF;
}

.root {
  background-color: #B3DAFF;
}

.subproblem-a {
  background-color: #B08CE6;
  float: left;
}

.subproblem-b {
  background-color: #E6B38C;
  float: right;
}
