body {
  background-color: #FFFFFF;
  line-height: 1.5em;
}

.root {
  color: #547594;
}

.subproblem-a {
  color: #5B4181;
  float: left;
}

.subproblem-b {
  color: #8D6547;
  float: right;
}

.problem-input {
  width: 200px;
}
