<!DOCTYPE html>
<html>
<head>
  <title>Integration</title>
  <link rel="stylesheet" href="/static/style/solver.css" type="text/css" />
  <script type="text/javascript" src="/static/vendor/jquery-1.10.1.min.js"></script>
  <script type="text/javascript" src="/static/js/solver.js"></script>

  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      extensions: ["tex2jax.js"],
      jax: ["input/TeX", "output/HTML-CSS"],
      tex2jax: {
        inlineMath: [ ['$','$'], ["\\(","\\)"] ],
        displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
        processEscapes: true
      },
      "HTML-CSS": { availableFonts: ["TeX"] }
    });
  </script>
  <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

</head>
<body>
  <div style="background-color: white; padding: 1.5em; display: none;">
    Does LaTeX rendering work?
    <br>
    \( \int x^2 dx \)
    \[ \psi \epsilon \rho \]
  </div>

  <div class="problem-wrapper">
    <input type="text" name="problem-input" value="int x^2 dx">
    <input type="submit" name="problem-solve" value="Solve">
    <div class="problem-response"></div>
  </div>
</body>
</html>
